@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --color-peach: #ff6666;
  --color-navy: #000021;
  --color-grey: #d8d8d8;
}
body {
  background-color: #000021;
  font-family: "Playfiar Display", "Poppins",
    "Lato", sans-serif;
  color: #FF6666;
  height: 100vh;
  margin: 0;
}

.header {
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.header h1,
.header .breadcrumb_nav {
  text-align: center;

}

.header h1{
  font-family: "Playfair Display";
}
.breadcrumb_nav{
  font-family: "Poppins";
  font-weight: 600;
}

.sub-head{
font-size: 20px;
margin: 0;
padding: 1%;
}

.leologo{
  height: 130px;
  width: 200px;
  background-color: var(--color-peach);
  border-radius: 0 10px 10px;
  
}

a{
  text-decoration: none;
  color: var(--color-peach);
  transition: background-color 350ms;
}

a:hover{
  color: var(--color-grey);
 
}

/* serach bar */
.search-form{

  width  : 740px;
  height : 320px;
  margin : 2% auto;
  padding: 2em;
  border-radius: 10px;
  background : var(--color-grey);
  color: var(--color-navy);
 justify-content: center;
  display  : grid;
   grid-gap : 20px;
   grid-template-columns : auto;
 font-family: "Poppins";
 font-weight: bold;
}


.label{
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.searchBar{

  font-size: 1rem;
  padding: 0.5em 2em;
  line-height:  1.5rem;
  border-radius: 20px;
  border: 2px solid black;
  margin-bottom: 1rem;
  width: 100%;
  
}

.submit-btn{
  background-color: var(--color-grey);
  color: var(--color-navy);
  padding: 0.5em 2em;
  border: 1px solid var(--color-navy);
  border-radius: 20px;
  font-size: 1.2rem;
  font-family: "lato";
  font-weight: bold;
  cursor: pointer;
  transition: background-color ease-in 350ms;
  width: 100%;
}

.submit-btn:hover{
  background-color: var(--color-peach);
  color: var(--color-grey);
}

.collections{
position : relative;
display: flex;

 margin : 2% auto;
 padding: 1em;
 border-radius: 10px;
justify-content: center;
font-family: "Poppins";
font-weight: bold;
}

.collections span {
 
  padding: 30px 45px;
 font-size: 3em;

  cursor: pointer;
}

.collections span:hover{
  color: var(--color-grey);
}
/* UPLOAD FORM*/
h2{
  padding: 40px;
  font-size: 1.5rem;
text-align: center;
}

.upload-form{
 position : relative;
 width  : 740px;
 height : 470px;
 margin : 0 auto;
 padding: 2em;
 box-sizing: border-box;
 border-radius: 10px;
 background : var(--color-grey);
 color: var(--color-navy);
justify-content: center;
 display  : grid;
  grid-gap : 20px;
  grid-template-columns : auto;
font-family: "Poppins";
font-weight: bold;
  
}

textarea{
  color: var(--color-navy);
  padding: 0.5em 1em;
  border: 1px solid var(--color-navy);
  border-radius: 20px;
  font-size: 1rem;
  transition: background-color 350ms;
  width: 100%;
}

.searchBar:hover, textarea:hover{
border: 2px solid var(--color-peach);
cursor: pointer;
}

.imglist div{
  display: inline-block;
  background-color: var(--color-peach);
  border-radius: 10px;
  color: var(--color-navy);
 padding: 10px;
 margin: 10px;
 box-shadow: 6px 6px 2px var(--color-grey);
  
}

.imglist img:hover{
opacity: 0.7;
cursor: pointer;
border: 1px solid var(--color-navy);
}

 
/* ABOUT */
.about-container{
  margin: 5px;
  padding: 10px;
}

.about-container p {
  padding: 5px;
}


.mernDiv .item{
 text-align: center;
}

.del-btn{
  background-color: var(--color-grey);
  color: var(--color-navy);
  padding: 0.2em 0.5em;
  border: 1px solid var(--color-navy);
  border-radius: 20px;
  font-size: 0.75rem;
  cursor: pointer;
  transition: background-color ease-in 450ms;
}

.del-btn:hover{
    background-color: var(--color-navy);
    color: var(--color-grey);
  }
